<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule idfix/(.*)$ index.php?idfix=$1 [QSA,NC,L]
RewriteRule event/(.*)$ index.php?event=$1 [QSA,NC,L]
</IfModule>